#youth-space-list .wrap {
    margin-top: 200px;
}

#youth-space-list .content {
    border-bottom: 1px solid rgb(240, 240, 240);
    border-top: 1px solid rgb(240, 240, 240);
    padding-bottom: 50px;
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#youth-space-list .center-img {
    width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#youth-space-list button:focus,
button:active {
    outline: none;
}

#youth-space-list input:active, 
#youth-space-list input:hover{
    outline: none;
    box-shadow: 0px 0px 4px 2px rgb(160, 179, 173); 
}

#youth-space-list input:focus{
    outline: none;
    background-color: rgb(247, 255, 252);
    box-shadow: 0px 0px 4px 2px rgb(160, 179, 173); 
}

#youth-space-list .center-img {
    width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#youth-space-list .search-position {
    width: 550px;
    position: relative;
    margin: 0 auto;
}

#youth-space-list .search-text {
    transition: 0.1s all linear;
    width: 100%;
    height: 50px;
    background-color: rgba(228, 247, 239, 1);
    border-radius: 50px;
    border: 1px solid rgb(215, 231, 225);
    box-shadow: 0px 0px 3px 2px rgb(215, 231, 225);
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #72817a;
    padding-left: 30px;
    /* 9CB4AA */

}

#youth-space-list .search-icon {
    position: absolute;
    right: 0;
    top: 14px;
    color: #72817a;
}

#youth-space-list .card-list {
    width: 1030px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 

/* -더보기- */

#youth-space-list .plus-btn {
    width: 250px;
    height: 50px;
    color: white;
    font-size: 15px;
    background-color: var(--mo-o);
    border-radius: 2px;
    margin: 0 auto;
    transition: 0.1s all linear;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#youth-space-list .plus-btn:hover {
    color: white;
    background-color: #393939;
}

#youth-space-list .plus-btn:active {
    color: white;
    background-color: #232323;
}