/* MyPage */
.MyPage{ width: 350px; height: 439px; padding: 1px; background-color: #fff; border-radius: 10px; box-shadow: 0px 0px 24px 0px rgba(170, 173, 176, 0.1);}
.mypage-header{ width: 300px; padding: 20px;}
.mypage-icon-nav-box { position: relative;}
.mypage-icon-nav-box svg { font-size: 30px; padding: 8px; cursor: pointer;}
.maypage-icon-nav-box-mo { position: absolute; right: 35px; top: 10px; display: none; box-shadow: 0px 0px 24px 0px rgba(170, 173, 176, 0.5); background-color: #fff;}
.maypage-icon-nav-box-mo.show { display: block;}
.maypage-icon-nav-box-mo li button { padding: 20px; font-family: inherit; font-size: inherit; border: 0; outline: 0; background-color: inherit;}
.maypage-icon-nav-box-mo li:nth-child(1) button { border-bottom: 1px solid #ddd;}
.maypage-icon-nav-box-mo li button:hover { color:var(--mo);}
.mypage-header a{ padding: 20px; border: 1px solid beige;}
.mypage-box{ box-sizing: border-box; height: 93%;}
.mypage-data{ height: 300px; text-align: center; display: flex; justify-content: space-evenly; flex-direction: column; align-items: center;}
.mypage-data h2 { margin-top: 20px;}
.mypage-data p { font-size: 16px; line-height: 18px; margin-top: 20px;}
.mypage-data div { width: 130px; height: 130px; overflow: hidden; border-radius: 50%;}
.dialogtitle-mo { padding-bottom: 20px; display: block; position: relative;}
.dialogtitle-mo::after { content: ''; position: absolute; width: 90%; height: 0.5px; background-color: #ddd; bottom: -10px; left: 20px;}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper { width: auto;} 

.mypage-data img {height: 100%; width: 100%; object-fit: cover;}
.pro-modify-box { position: relative;}
.pro-modify-box span { position: absolute; bottom: 0; left: 57%; width: 50px; height: 50px; background-color: #fff; border-radius: 50%; cursor: pointer; border: 2px solid #ddd; display: flex; justify-content: center; align-items: center; transition: all .3s;}
.pro-modify-box svg { font-size: 30px; color: rgb(96, 95, 107);}
.pro-modify-box span:hover { background-color: var(--mo);}
.pro-modify-box span:hover svg { color: #fff;}
.mypage-img-box { width: 150px; height: 150px; overflow: hidden; border-radius: 50%; margin: 0 auto; margin-top: 35px;}
.mypage-img-box img { height: 100%; width: 100%; object-fit: cover;}

/* MyPageMain */
.mypage-title-box { width: 1200px; margin: 0 auto; height: 100px; display: flex; align-items: center; margin-top: 73px; box-sizing: border-box; padding: 85px 0;}
.mypage-title-box .myIco { position: relative; top: -20px;}
.mypage-title-box  h3 { font-size: 35px; padding-top: 29px;}
.mypageMain .mypage-background { background-color: #F3F5F7; padding-bottom: 60px;}
.mypageMain .mypage-content { width: 1200px; margin: 0 auto; display: flex; justify-content: space-between; padding-top: 40px;}
.mypageMain .mypage-active { width: 750px; }
.mypageMain .mypage-active h4 { font-size: 25px; display: block; margin-top: 20px;}
.mypageMain .mypage-active-box { background-color: #fff; padding: 30px 108px; box-sizing: border-box; margin-top: 30px; border-radius: 10px; box-shadow: 0px 0px 24px 0px rgba(170, 173, 176, 0.2);}
.mypageMain .mypage-active-box ul { display: flex; justify-content: space-evenly;}
.mypageMain .my-icon-link { width: 100px; height: 100px; background-color: #F3F5F7; display: inline-block; border-radius: 20px; position: relative; transition: all .3s;}
.mypageMain .my-icon-link:hover { box-shadow: 5px 5px 5px 0px rgba(35, 44, 39, 0.2); background-color: var(--mo);}
.mypageMain .my-icon-link img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.mypageMain .my-icon-link span {display: block; margin-top: 10px;}
.mypageMain .mypage-icon-text {display: block; margin-top: 20px; font-size: 18px;}


/* MyBookmark */
/* 
#myBookmark .empty-item-box {  width: 80%; margin: 0 auto; text-align: center; }
#myBookmark .empty-img-box { width: 300px; margin: 0 auto; margin-top: 9%; margin-bottom: 7%; }
#myBookmark .empty-p { font-size: 20px; color: rgb(101, 101, 101); }
#myBookmark .card-ul { display: flex; width: 800px; justify-content: space-evenly;  flex-wrap: wrap;}
#myBookmark .hidden-li {visibility: hidden;width: 220px;height: 260px; border-radius: 22px;background: #FFF;box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.10);margin:10px;margin-bottom: 20px;padding-bottom: 5px; } */

/* MyBookmark , myRoom, myJoinRoom*/
.myRoom .empty-item-box {  width: 80%; margin: 0 auto; text-align: center; }
.myRoom .empty-img-box { width: 300px; margin: 0 auto; margin-top: 9%; margin-bottom: 7%; }
.myRoom .empty-p { font-size: 20px; color: rgb(101, 101, 101); }
.myRoom .card-ul { display: flex; width: 800px; justify-content: space-evenly;  flex-wrap: wrap;}
.myRoom .hidden-li {visibility: hidden;width: 220px;height: 260px; border-radius: 22px;background: #FFF;box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.10);margin:10px;margin-bottom: 20px;padding-bottom: 5px; }
.myRoom .go-btn{ width: 200px; height: 50px; margin: 0 auto; background-color: #494949; color: white; border-radius: 7px; line-height: 50px; margin-top: 30px;}


/*가입대기 관련*/ 
.myRoom .h2{ font-size: 23px; font-weight: bold; margin-left: 20px; ; margin-bottom: 20px; height: 30px;   border: none; background-color: transparent; }
.myRoom .h2.select{ color: var(--mo); }