.MyPage{
    width: 250px;
    height: 350px;
    padding: 1px;
}
.mypage-header{
    width: 300px;
    padding: 20px;
}
.mypage-header a{
    padding: 20px;
    border: 1px solid beige;
}
.mypage-box{
    border: 1px solid beige;
    box-sizing: border-box;
}
.mypage-data{
    background-color: aliceblue;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mypage-data h2 { margin-top: 20px;}
.mypage-data p {
    font-size: 16px;
    line-height: 18px;
    margin-top: 20px;
}
.mypage-data div { width: 100px; height: 100px; overflow: hidden; border-radius: 50%; background-color: pink;}
.mypage-data img {height: 100%; width: 100%; object-fit: cover;}

.mypage-img-box { width: 200px; height: 200px; overflow: hidden; border-radius: 50%; margin: 0 auto;}
.mypage-img-box img { height: 100%; width: 100%; object-fit: cover;}