/* color */
:root {
  --mo: rgba(29, 192, 120, 1);
  --mo-o: rgba(255, 199, 0, 1);
}



/* wrap */
.wrap { max-width: 1200px; margin: 85px auto;}
.room-box { background-color: #fff; width: 100%; padding: 25px; box-sizing: border-box;}

::selection {
  background: var(--mo);
  color: #fff;
}

